In [70]:
import pandas as pd
import numpy as np
import sqlite3
from datetime import datetime
import time
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from math import floor, ceil
from pylab import rcParams
import re

%matplotlib inline

In [71]:
#Write code to convert CSV to Pandas. Pretty sure I lost it somewhere
test = pd.read_csv('./test.csv')
baseTrain = pd.read_csv('./train.csv')

In [72]:
baseTrain

        Store  Dept        Date  Weekly_Sales IsHoliday
0           1     1  2010-02-05      24924.50     False
1           1     1  2010-02-12      46039.49      True
2           1     1  2010-02-19      41595.55     False
3           1     1  2010-02-26      19403.54     False
4           1     1  2010-03-05      21827.90     False
5           1     1  2010-03-12      21043.39     False
6           1     1  2010-03-19      22136.64     False
7           1     1  2010-03-26      26229.21     False
8           1     1  2010-04-02      57258.43     False
9           1     1  2010-04-09      42960.91     False
10          1     1  2010-04-16      17596.96     False
11          1     1  2010-04-23      16145.35     False
12          1     1  2010-04-30      16555.11     False
13          1     1  2010-05-07      17413.94     False
14          1     1  2010-05-14      18926.74     False
15          1     1  2010-05-21      14773.04     False
16          1     1  2010-05-28      15580.43     False
17          1     1  2010-06-04      17558.09     False
18          1     1  2010-06-11      16637.62     False
19          1     1  2010-06-18      16216.27     False
20          1     1  2010-06-25      16328.72     False
21          1     1  2010-07-02      16333.14     False
22          1     1  2010-07-09      17688.76     False
23          1     1  2010-07-16      17150.84     False
24          1     1  2010-07-23      15360.45     False
25          1     1  2010-07-30      15381.82     False
26          1     1  2010-08-06      17508.41     False
27          1     1  2010-08-13      15536.40     False
28          1     1  2010-08-20      15740.13     False
29          1     1  2010-08-27      15793.87     False
...       ...   ...         ...           ...       ...
421540     45    98  2012-04-06        778.70     False
421541     45    98  2012-04-13        559.14     False
421542     45    98  2012-04-20        605.80     False
421543     45    98  2012-04-27        619.41     False
421544     45    98  2012-05-04        694.25     False
421545     45    98  2012-05-11        893.60     False
421546     45    98  2012-05-18        745.44     False
421547     45    98  2012-05-25        795.94     False
421548     45    98  2012-06-01        874.64     False
421549     45    98  2012-06-08        713.50     False
421550     45    98  2012-06-15        856.35     False
421551     45    98  2012-06-22        622.62     False
421552     45    98  2012-06-29        690.52     False
421553     45    98  2012-07-06        659.65     False
421554     45    98  2012-07-13        695.21     False
421555     45    98  2012-07-20        845.30     False
421556     45    98  2012-07-27        657.63     False
421557     45    98  2012-08-03        516.46     False
421558     45    98  2012-08-10        727.49     False
421559     45    98  2012-08-17        500.16     False
421560     45    98  2012-08-24        415.40     False
421561     45    98  2012-08-31        346.04     False
421562     45    98  2012-09-07        352.44      True
421563     45    98  2012-09-14        605.96     False
421564     45    98  2012-09-21        467.30     False
421565     45    98  2012-09-28        508.37     False
421566     45    98  2012-10-05        628.10     False
421567     45    98  2012-10-12       1061.02     False
421568     45    98  2012-10-19        760.01     False
421569     45    98  2012-10-26       1076.80     False

[421570 rows x 5 columns]

In [73]:
baseTrain_y = baseTrain['Weekly_Sales']
baseTrain_x = baseTrain.drop('Weekly_Sales', axis = 1)

In [74]:
baseTrain_x['Date'] = baseTrain_x['Date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
baseTrain_x['Date'] = baseTrain_x['Date'].apply(lambda x: int(time.mktime(x.timetuple())) / 100000)

In [75]:
baseTrain_x

        Store  Dept       Date IsHoliday
0           1     1  12653.568     False
1           1     1  12659.616      True
2           1     1  12665.664     False
3           1     1  12671.712     False
4           1     1  12677.760     False
5           1     1  12683.808     False
6           1     1  12689.820     False
7           1     1  12695.868     False
8           1     1  12701.916     False
9           1     1  12707.964     False
10          1     1  12714.012     False
11          1     1  12720.060     False
12          1     1  12726.108     False
13          1     1  12732.156     False
14          1     1  12738.204     False
15          1     1  12744.252     False
16          1     1  12750.300     False
17          1     1  12756.348     False
18          1     1  12762.396     False
19          1     1  12768.444     False
20          1     1  12774.492     False
21          1     1  12780.540     False
22          1     1  12786.588     False
23          1     1  12792.636     False
24          1     1  12798.684     False
25          1     1  12804.732     False
26          1     1  12810.780     False
27          1     1  12816.828     False
28          1     1  12822.876     False
29          1     1  12828.924     False
...       ...   ...        ...       ...
421540     45    98  13336.956     False
421541     45    98  13343.004     False
421542     45    98  13349.052     False
421543     45    98  13355.100     False
421544     45    98  13361.148     False
421545     45    98  13367.196     False
421546     45    98  13373.244     False
421547     45    98  13379.292     False
421548     45    98  13385.340     False
421549     45    98  13391.388     False
421550     45    98  13397.436     False
421551     45    98  13403.484     False
421552     45    98  13409.532     False
421553     45    98  13415.580     False
421554     45    98  13421.628     False
421555     45    98  13427.676     False
421556     45    98  13433.724     False
421557     45    98  13439.772     False
421558     45    98  13445.820     False
421559     45    98  13451.868     False
421560     45    98  13457.916     False
421561     45    98  13463.964     False
421562     45    98  13470.012      True
421563     45    98  13476.060     False
421564     45    98  13482.108     False
421565     45    98  13488.156     False
421566     45    98  13494.204     False
421567     45    98  13500.252     False
421568     45    98  13506.300     False
421569     45    98  13512.348     False

[421570 rows x 4 columns]

In [76]:
baseTrain_y

0         24924.50
1         46039.49
2         41595.55
3         19403.54
4         21827.90
5         21043.39
6         22136.64
7         26229.21
8         57258.43
9         42960.91
10        17596.96
11        16145.35
12        16555.11
13        17413.94
14        18926.74
15        14773.04
16        15580.43
17        17558.09
18        16637.62
19        16216.27
20        16328.72
21        16333.14
22        17688.76
23        17150.84
24        15360.45
25        15381.82
26        17508.41
27        15536.40
28        15740.13
29        15793.87
            ...
421540      778.70
421541      559.14
421542      605.80
421543      619.41
421544      694.25
421545      893.60
421546      745.44
421547      795.94
421548      874.64
421549      713.50
421550      856.35
421551      622.62
421552      690.52
421553      659.65
421554      695.21
421555      845.30
421556      657.63
421557      516.46
421558      727.49
421559      500.16
421560      415.40
421561      346.04
421562      352.44
421563      605.96
421564      467.30
421565      508.37
421566      628.10
421567     1061.02
421568      760.01
421569     1076.80
Name: Weekly_Sales, dtype: float64

In [77]:
#Appending all possible features together
engine = sqlite3.connect('DB')

storesWithTrain = pd.read_sql("""
SELECT *
FROM trainDf
JOIN storesDf 
ON storesDf.Store = trainDf.Store
""", engine)

_, i = np.unique(storesWithTrain.columns, return_index = True)
storesWithTrain = storesWithTrain.iloc[:, i]
storesWithTrain.to_sql('storesWithTrain', engine, if_exists='replace', index = False)

everything = pd.read_sql("""
SELECT *
FROM storesWithTrain
JOIN featuresDf
ON storesWithTrain.Store = featuresDf.Store AND storesWithTrain.Date = featuresDf.Date
""", engine)

#Get all unique elements
_, i = np.unique(everything.columns, return_index = True)
everything = everything.iloc[:, i]

In [78]:
#Parsing the data/convert data time to milliseconds
train_x = everything.drop_duplicates()
train_x = train_x.dropna().reset_index(drop = True)#Get rid of this line if you don't want to drop NaN
#Convert date string to date time object to get milliseconds
train_x['Date'] = train_x['Date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
train_x['Date'] = train_x['Date'].apply(lambda x: int(time.mktime(x.timetuple())) / 100000)

test['Date'] = test['Date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
test['Date'] = test['Date'].apply(lambda x: int(time.mktime(x.timetuple())) / 100000)

train_y = train_x['Weekly_Sales']
train_y = train_y.to_frame()
train_y = train_y.dropna().reset_index(drop = True)
train_x.drop('Weekly_Sales', axis = 1, inplace = True)

In [79]:
#Optional cell if you want to remove NaNs. This will mainly remove the MarkDown rows
#Also changed the store types from A and B to 1 and 2. Or could one hot encode
storeType = train_x['Type']
encoding = pd.get_dummies(storeType)
#encoding = encoding.drop('C', axis = 1)

train_x['A'] = encoding['A']
train_x['B'] = encoding['B']
train_x['C'] = encoding['C']
train_x.drop('Type', axis = 1, inplace = True)
train_x = train_x.dropna().reset_index(drop = True)

In [81]:
baseTrain_x

        Store  Dept       Date IsHoliday
0           1     1  12653.568     False
1           1     1  12659.616      True
2           1     1  12665.664     False
3           1     1  12671.712     False
4           1     1  12677.760     False
5           1     1  12683.808     False
6           1     1  12689.820     False
7           1     1  12695.868     False
8           1     1  12701.916     False
9           1     1  12707.964     False
10          1     1  12714.012     False
11          1     1  12720.060     False
12          1     1  12726.108     False
13          1     1  12732.156     False
14          1     1  12738.204     False
15          1     1  12744.252     False
16          1     1  12750.300     False
17          1     1  12756.348     False
18          1     1  12762.396     False
19          1     1  12768.444     False
20          1     1  12774.492     False
21          1     1  12780.540     False
22          1     1  12786.588     False
23          1     1  12792.636     False
24          1     1  12798.684     False
25          1     1  12804.732     False
26          1     1  12810.780     False
27          1     1  12816.828     False
28          1     1  12822.876     False
29          1     1  12828.924     False
...       ...   ...        ...       ...
421540     45    98  13336.956     False
421541     45    98  13343.004     False
421542     45    98  13349.052     False
421543     45    98  13355.100     False
421544     45    98  13361.148     False
421545     45    98  13367.196     False
421546     45    98  13373.244     False
421547     45    98  13379.292     False
421548     45    98  13385.340     False
421549     45    98  13391.388     False
421550     45    98  13397.436     False
421551     45    98  13403.484     False
421552     45    98  13409.532     False
421553     45    98  13415.580     False
421554     45    98  13421.628     False
421555     45    98  13427.676     False
421556     45    98  13433.724     False
421557     45    98  13439.772     False
421558     45    98  13445.820     False
421559     45    98  13451.868     False
421560     45    98  13457.916     False
421561     45    98  13463.964     False
421562     45    98  13470.012      True
421563     45    98  13476.060     False
421564     45    98  13482.108     False
421565     45    98  13488.156     False
421566     45    98  13494.204     False
421567     45    98  13500.252     False
421568     45    98  13506.300     False
421569     45    98  13512.348     False

[421570 rows x 4 columns]

In [80]:
train_x.to_sql('train_x', engine, if_exists = 'replace', index = False)
train_y.to_sql('train_y', engine, if_exists = 'replace', index = False)
test.to_sql('test', engine, if_exists='replace', index = False)
baseTrain_x.to_sql('baseTrain_x', engine, if_exists='replace', index = False)
baseTrain_y.to_sql('baseTrain_y', engine, if_exists='replace', index = False)