In [1]:
import pandas as pd
import numpy as np
import sqlite3
from datetime import datetime
import time
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from math import floor, ceil
from pylab import rcParams
import re

%matplotlib inline
engine = sqlite3.connect('DB')

In [2]:
#Write code to convert CSV to Pandas. Pretty sure I lost it somewhere
test = pd.read_csv('./test.csv')
baseTrain = pd.read_csv('./train.csv')
featuresDf = pd.read_csv('./features.csv')

In [3]:
#Combining training data with the features
storesWithTrain = pd.read_sql("""
SELECT *
FROM trainDf
JOIN storesDf 
ON storesDf.Store = trainDf.Store
""", engine)
_, i = np.unique(storesWithTrain.columns, return_index = True)
storesWithTrain = storesWithTrain.iloc[:, i]
storesWithTrain.to_sql('storesWithTrain', engine, if_exists='replace', index = False)

everything = pd.read_sql("""
SELECT *
FROM storesWithTrain
JOIN featuresDf
ON storesWithTrain.Store = featuresDf.Store AND storesWithTrain.Date = featuresDf.Date
""", engine)

#Get all unique elements
_, i = np.unique(everything.columns, return_index = True)
everything = everything.iloc[:, i]

In [4]:
#Grabbing just the basic features that match with the testing data
baseTrain_y = baseTrain['Weekly_Sales']
baseTrain_x = baseTrain.drop('Weekly_Sales', axis = 1)
baseTrain_x['Date'] = baseTrain_x['Date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
baseTrain_x['Date'] = baseTrain_x['Date'].apply(lambda x: int(time.mktime(x.timetuple())) / 1000000)

In [5]:
#Cleaning the data that has everything

#Parsing the data/convert data time to milliseconds
train_x = everything.drop_duplicates()
train_x = train_x.dropna().reset_index(drop = True)#Get rid of this line if you don't want to drop NaN

#Convert date string to date time object to get milliseconds
train_x['Date'] = train_x['Date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
train_x['Date'] = train_x['Date'].apply(lambda x: int(time.mktime(x.timetuple())) / 1000000)

test['Date'] = test['Date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
test['Date'] = test['Date'].apply(lambda x: int(time.mktime(x.timetuple())) / 1000000)

train_y = train_x['Weekly_Sales']
train_y = train_y.to_frame()
train_y = train_y.dropna().reset_index(drop = True)
train_x.drop('Weekly_Sales', axis = 1, inplace = True)

In [6]:
#Optional cell if you want to remove NaNs. This will mainly remove the MarkDown rows
#One hot code for everything data
storeType = train_x['Type']
encoding = pd.get_dummies(storeType)

train_x['A'] = encoding['A']
train_x['B'] = encoding['B']
train_x['C'] = encoding['C']
train_x.drop('Type', axis = 1, inplace = True)
train_x = train_x.dropna().reset_index(drop = True)

In [7]:
baseTrain_x

        Store  Dept       Date IsHoliday
0           1     1  1265.3568     False
1           1     1  1265.9616      True
2           1     1  1266.5664     False
3           1     1  1267.1712     False
4           1     1  1267.7760     False
5           1     1  1268.3808     False
6           1     1  1268.9820     False
7           1     1  1269.5868     False
8           1     1  1270.1916     False
9           1     1  1270.7964     False
10          1     1  1271.4012     False
11          1     1  1272.0060     False
12          1     1  1272.6108     False
13          1     1  1273.2156     False
14          1     1  1273.8204     False
15          1     1  1274.4252     False
16          1     1  1275.0300     False
17          1     1  1275.6348     False
18          1     1  1276.2396     False
19          1     1  1276.8444     False
20          1     1  1277.4492     False
21          1     1  1278.0540     False
22          1     1  1278.6588     False
23          1     1  1279.2636     False
24          1     1  1279.8684     False
25          1     1  1280.4732     False
26          1     1  1281.0780     False
27          1     1  1281.6828     False
28          1     1  1282.2876     False
29          1     1  1282.8924     False
...       ...   ...        ...       ...
421540     45    98  1333.6956     False
421541     45    98  1334.3004     False
421542     45    98  1334.9052     False
421543     45    98  1335.5100     False
421544     45    98  1336.1148     False
421545     45    98  1336.7196     False
421546     45    98  1337.3244     False
421547     45    98  1337.9292     False
421548     45    98  1338.5340     False
421549     45    98  1339.1388     False
421550     45    98  1339.7436     False
421551     45    98  1340.3484     False
421552     45    98  1340.9532     False
421553     45    98  1341.5580     False
421554     45    98  1342.1628     False
421555     45    98  1342.7676     False
421556     45    98  1343.3724     False
421557     45    98  1343.9772     False
421558     45    98  1344.5820     False
421559     45    98  1345.1868     False
421560     45    98  1345.7916     False
421561     45    98  1346.3964     False
421562     45    98  1347.0012      True
421563     45    98  1347.6060     False
421564     45    98  1348.2108     False
421565     45    98  1348.8156     False
421566     45    98  1349.4204     False
421567     45    98  1350.0252     False
421568     45    98  1350.6300     False
421569     45    98  1351.2348     False

[421570 rows x 4 columns]

In [8]:
train_x.to_sql('train_x', engine, if_exists = 'replace', index = False)
train_y.to_sql('train_y', engine, if_exists = 'replace', index = False)
test.to_sql('test', engine, if_exists='replace', index = False)
baseTrain_x.to_sql('baseTrain_x', engine, if_exists='replace', index = False)
baseTrain_y.to_sql('baseTrain_y', engine, if_exists='replace', index = False)